* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arvo", serif;
}

nav { 
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.logo {
    color: white;
    font-size: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Style du bouton menu (hamburger) */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* Input de recherche */
nav input {
    padding: 10px;
    border-radius: 10px;
}

/* Boutons */
.btn {
    font-size: 14px;
    padding: 10px 20px;
}
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background-color: rgb(217, 176, 255);
}
.section-1 h1{
    font-size: 70px;
}
.section-1 input{
    padding: 10px;
    width: 70%;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.section-2 a{
    text-decoration: none;
}
.section-2 a:hover{
    text-decoration: underline;
}
.section-2{
    padding: 70px;
}
.section-2 h1{
    font-size: 40px;
}
.section-2 p{
    font-size: 21px;
}
.section-2 img{
    height: 50px;
    width: 50px;
    position: relative;
    right: 70px;
    top: 50px;
}
/* Responsive */
@media (max-width: 768px) {
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: black;
        width: 100%;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }

    .nav-items.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .btn {
        width: 100%; 
        margin: 10px 0;
    }
}
